* {
  box-sizing: border-box;
}

body {
  background-color: silver;
  font-family: 'Lato', sans-serif;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  gap: 8px;
  border-radius: 6px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form button[type="submit"] {
  background-color: silver;
  color: white;
  padding: 6px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: gray;
}